<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forecasts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/sidaBar.css">
    
    <!-- Bootstrap JS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />


    <!-- Separating the containers -->

    <style>
        #firstCont {
            margin-top: 20px;
        }

        .row {

            margin-top: 20px;

        }
    </style>

</head>

<body>

    <!-- Navbar Form -->

    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="static/img/logo.png" width="40px" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <form action="/dashboard" method="POST">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="row">
                                <div class="col">
                                    <label for="example-date-input" class="col-2 col-form-label">Initial</label>
                                    <input required class="form-control" type="date" value="{{ idate }}"
                                        name="beginDate" id="beginDate" required>
                                </div>

                                <div class="col">
                                    <label for="example-date-input" class="col-2 col-form-label">Final</label>
                                    <input required class="form-control" type="date" value="{{ fdate }}" name="endDate"
                                        id="endDate" required>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="row">
                                <div class="col">
                                    <label for="example-date-input" class="col-2 col-form-label">Company</label>
                                    <input required class="form-control" type="text" value="{{ name }}"
                                        name="companyName" id="companyName" required>
                                </div>
                                <div class="col">
                                    <label for="exampleSelect1">Example select</label>
                                    <select class="form-control" name="period" id="period" required>
                                        <option {{option1}}>Daily</option>
                                        <option {{option2}}>Weekly</option>
                                        <option {{option3}}>Monthly</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <input type="submit" class="btn btn-info" value="Get Predictions" id="btn_sub">
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>

    <!-- Dashboard -->

    <div class="container" id="firstCont">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <div id='myDiv'></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Stock Forecast</h5>

                        <table class="table">
                            <tbody>

                                <tr>
                                    <td>Name</td>
                                    <td id="td1"></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Open</td>
                                    <td id="td2"></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Low</td>
                                    <td id="td3"></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>High</td>
                                    <td id="td4"></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Change (%)</td>
                                    <td id="td5"></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Last Close Price</td>
                                    <td id="td6"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Tomorrow Close Price</td>
                                    <td id="td7"></td>
                                    <td><i class="fas fa-angle-down" id="icon1"></i></td>
                                </tr>
                                <tr>
                                    <td>Error (%)</td>
                                    <td id="td8"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div id='myDiv1'></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div id='myDiv2'></div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <script>

        // Get the forms value filled by the user

        var ticker = document.getElementById('companyName').value,
            idate = document.getElementById('beginDate').value,
            fdate = document.getElementById('endDate').value,
            period = document.getElementById('period').value;

        
        // JSON request


        $.ajaxSetup({
            async: false
        });

        function getData() {
            var jsonData = (function () {
                var result;
                var html = "/JSON/" + ticker + "/" + idate + "/" + fdate + "/" + period
                $.getJSON(html, {}, function (data) {
                    result = data;
                });
                return result;
            })();

            return jsonData;
        }


        var jsonFile = getData(ticker, idate, fdate, period);

        // Get the importants informations from the requested JSON

        var Name = jsonFile.Forecast.Name,
            LastOpen = jsonFile.Forecast.LastOpen,
            LastLow = jsonFile.Forecast.LastLow,
            LastHigh = jsonFile.Forecast.LastHigh,
            Change = jsonFile.Forecast.Change,
            LastClose = jsonFile.Forecast.LastClose,
            TomorrowPrice = jsonFile.Forecast.TomorrowPrice,
            xError = jsonFile.Forecast.Error,
            closeY = jsonFile.Forecast.closeY,
            openY = jsonFile.Forecast.openY,
            lowY = jsonFile.Forecast.lowY,
            highY = jsonFile.Forecast.highY,
            dateX = jsonFile.Forecast.dateX;

        
        // Inserting the parameters in the dashboard table

        $('#td1').html(Name);
        $('#td2').html(LastOpen);
        $('#td3').html(LastLow);
        $('#td4').html(LastHigh);
        $('#td5').html(parseFloat(Change).toFixed(2));
        $('#td6').html(LastClose);
        $('#td7').html(TomorrowPrice);
        $('#td8').html(xError);

        // Control the icon to show if the tomorrow price it is biger than the last close price searched
        
        if(LastClose < TomorrowPrice)
            document.getElementById('icon1').className = "fa fa-chevron-up";
        else
            document.getElementById('icon1').className = "fas fa-angle-down";
        
    </script>

    <script>
        var trace1 = {

            x: dateX,
            close: closeY,
            decreasing: { line: { color: '#7F7F7F' } },

            high: highY,
            increasing: { line: { color: '#17BECF' } },

            line: { color: 'rgba(31,119,180,1)' },

            low: lowY,
            open: openY,
            type: 'candlestick',
            xaxis: 'x',
            yaxis: 'y'
        };

        var data = [trace1];

        var layout = {
            //title: document.getElementById('companyName').value + ' OHLC',
            dragmode: 'zoom',
            margin: {
                r: 10,
                t: 25,
                b: 40,
                l: 60
            },
            showlegend: false,
            xaxis: {
                autorange: true,
                rangeslider: { range: [idate, fdate] },
                title: 'Date',
                type: 'date'
            },
            yaxis: {
                autorange: true,
                type: 'linear'
            }
        };

        var config = { responsive: true };

        Plotly.newPlot('myDiv2', data, layout, config);

    </script>

    <script>
        var trace1 = {

            x: dateX,
            close: closeY,
            decreasing: { line: { color: '#7F7F7F' } },

            high: highY,
            increasing: { line: { color: '#17BECF' } },

            line: { color: 'rgba(31,119,180,1)' },

            low: lowY,
            open: openY,
            type: 'ohlc',
            xaxis: 'x',
            yaxis: 'y'
        };

        var data = [trace1];

        var layout = {
            //title: document.getElementById('companyName').value + ' OHLC',
            dragmode: 'zoom',
            margin: {
                r: 10,
                t: 25,
                b: 40,
                l: 60
            },
            showlegend: false,
            xaxis: {
                autorange: true,
                rangeslider: { range: [idate, fdate] },
                title: 'Date',
                type: 'date'
            },
            yaxis: {
                autorange: true,
                type: 'linear'
            }
        };

        var config = { responsive: true };

        Plotly.newPlot('myDiv1', data, layout, config);


    </script>


    <script>
        var trace1 = {
            type: "scatter",
            mode: "lines",
            x: dateX,
            y: closeY,
            name: Name + ' Close',
            line: { color: '#17BECF' }
        },

            trace2 = {
                type: "scatter",
                mode: "lines",
                x: dateX,
                y: openY,
                name: Name + ' Open',
                line: { color: '#7F7F7F' }
            };

        var data = [trace1, trace2];

        Plotly.newPlot('myDiv', data);


    </script>

</body>

</html>